/* Define custom color variables */
:root {
  --primary-color: #3498db; /* Change this to your primary color */
  --secondary-color: #000000; /* Change this to your secondary color */
  --text-color: #333; /* Change this to your text color */
  --background-color: #ffffff; /* Change this to your background color */
}

/* Reset some default browser styles */
html {
  font-family: "Helvetica", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  padding: 1.5em;
  line-height: 1.25em;
  color: var(--text-color); /* Use the text color variable */
  background-color: var(
    --background-color
  ); /* Use the background color variable */
  margin: 0;

  background-image: linear-gradient(to right, white, #e1ecf3, white);

  /*background-image: linear-gradient(to right, white, white 20%, #e1ecf3 20%, #e1ecf3 80%, white 80%);*/

  
}

/* Header styles */
h1 {
  font-family: "Garamond", serif;
  font-weight: 800;
  color: #05446f; /* Use the primary color variable */
  font-size: 32px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
}

code,
pre,
kbd,
samp {
  font-family: "Inconsolata", monospace;
  font-size: 0.95em;
}

a {
  color: var(--primary-color); /* Use the primary color variable */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.videos-row {
  display: flex;
  flex-flow: row wrap; /* Adjust this as needed */
  justify-content: center; /* Centers the videos in the row */
  align-items: center; /* Aligns videos vertically */
  width: 100%; /* Ensures it takes full width of its parent */
}

.video-wrapper {
  flex: 1; /* This makes each video take up equal space within the container */
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

header {
  margin: 0.5em auto;
  text-align: center;
}

main {
  margin: 0.5em 0;
}

/* Header secondary styles */
.header-secondary {
  font-size: 0.9em;
}

.header-title,
.header-secondary div {
  margin: 0.33em 0;
}

header a,
.icons a {
  color: var(--text-color); /* Use the text color variable */
}

header a:hover {
  text-decoration: none;
}

/* Front page styles */
.front-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bio-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (min-width: 500px) {
  .front-page {
    flex-direction: column-reverse;
    column-gap: 1rem;
  }

  .bio-photo {
    order: 1;
  }
}

/* Experience section styles */
.experience-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding: 1.5em;
  line-height: 1.25em;
}

.experience-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.experience-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-role {
  /* Center the trademark text horizontally and vertically */
  .footer-content {
    text-align: center; /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 100%;
  }

  font-weight: bold;
  margin-right: 10px;
}

.company {
  font-weight: bold;
  margin-right: 10px;
}

.project {
  border: 2px solid #000; /* Black border around the textbox */
  padding: 20px; /* Space between the border and the content */
  margin: 20px 0; /* Adds space around the textbox */
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 5px; /* Optional: Rounds the corners of the border */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
}

.introbox {
  border: 2px solid #000; /* Black border around the textbox */
  padding: 20px; /* Space between the border and the content */
  margin: 20px 0; /* Adds space around the textbox */
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 5px; /* Optional: Rounds the corners of the border */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
}

.details {
  margin-left: 10px; /* Adjust the margin as needed */
}

.role,
.date {
  margin: 0; /* Remove any default margins */
}

.date {
  font-size: 0.9em;
  color: var(--text-color); /* Use the text color variable */
}

/* Footer styles */
footer {
  text-align: center;
}

small {
  color: #777;
}

/* Add your additional styles here as needed */

/* Center the trademark text horizontally and vertically */
.footer-content {
  text-align: center; /* Center horizontally */
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  height: 100%;
}

hr {
  border: 2px solid #ccc; /* Set the color and thickness of the dividing line */
  width: 100%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the line with automatic horizontal margins */
}

hr.dashed {
  border: 1px dashed #ccc; /* Set the color and thickness of the dividing line */
  width: 100%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the line with automatic horizontal margins */
}

.accordion-header {
  background-color: #eee;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 0 15px;
  background-color: #f9f9f9;
  overflow: hidden;
}

/* Optional: Add styles for when an accordion section is expanded */
.accordion-content.active {
  display: block;
}

.company-logo {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Maintains aspect ratio */
  margin-right: 20px; /* Adds space between logo and text */
}

